#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  /* padding: 0 30px; */
  background: linear-gradient(135deg, #00ffff, #00bfff); /* Cyan/blue gradient */
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  font-family: "Press Start 2P", monospace;
  color: #00ffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar a {
  color: #247a7a;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff;
}

.navbar a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #0ff, 0 0 20px #00ffff;
}

.page-content {
  margin-top: 70px; /* space for navbar */
  /* padding: 20px; */
  min-height: calc(100vh - 70px);
  width: 100%;
  box-sizing: border-box;
}

